.desktop-menu {
    display: flex;
    list-style: none;
    margin: 5px 0 5px 0;
    justify-content: center;
}

.desktop-menu .menu-item {
    margin-right: 30px;
}

.desktop-menu .menu-item:last-child {
    margin-right: 0;
}

.desktop-menu .menu-item a {
    text-decoration: none;
    color: #030202a2;
    font-size: 20px;
    text-transform: uppercase;
}

.desktop-menu .menu-item a:hover {
    color: #c4c4c4;
}

/*****************************************/

.topdiv {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    padding: 8px 0 8px 0;
}

/*****************************************/

.menu-btn {
    width: 45px;
    height: 40px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.bar {
    position: fixed;
    width: 40px;
    height: 6px;
    left: 5%;
    background: rgb(0, 0, 0);
    transition: 0.2s;
}

.menu-btn .bar:nth-of-type(1) {
    top: calc(3% + 1px);
}

.menu-btn .bar:nth-of-type(2) {
    top: calc(4% + 2px);
}

.menu-btn .bar:nth-of-type(3) {
    top: calc(5% + 2px);
}

.menu-btn.active .bar:nth-of-type(1) {
    display: none;
}

.menu-btn.active .bar:nth-of-type(2) {
    top: 4%;
    transform: translate(-20%, -20%) rotate(45deg);
    background: rgb(255, 255, 255);
}

.menu-btn.active .bar:nth-of-type(3) {
    top: 4%;
    transform: translate(-20%, -20%) rotate(-45deg);
    background: rgb(255, 255, 255);
}


.nav {
    position: fixed;
    top: 0;
    left: 0%;
    right: 75%;
    width: 75%;
    height: 100%;
    padding: 10% 0%;
    background-color: rgb(0, 0, 0);
    transform: translateX( -100% ); /* 100% -100%  der o izq */
    transition: transform 0.4s;
    z-index: 1;
    overflow-x: auto;
}

.nav.active {
    transform: translateX(0);
}

.nav__list_item {
    list-style: none;
    margin: 5% 5%;
    padding: 2px;
    text-align: left;
    font-size: 22px;
}

.nav__list_item a {
    color: #ffffffcc;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 30px;
    font-weight: 400;
    /*border: 1px solid;*/
    border-radius: 15px;
}

.nav__list_item a:hover {
    border-color: #464646;
    background-color: #464646;
    transition: 0.1s;
}