.container {
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    height: auto;
}
  
.container h1 {
    text-align: center;
    color: #fff;
}
  
.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.container ul li {
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
    border-radius: 1px;
    width: auto;
}
  
.container ul li:hover {
    background-color: #ddd;
    cursor: pointer;
}
  
.container ul li:last-child {
    border-bottom: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    color: #fff;
}

.btn {
    padding: 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: #2e2e2e;
    color: #fff;
    gap: 2px;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .center {
        flex-direction: row;
        height: auto;
    }
    .btn {
        padding: 10px;
        font-size: 15px;
    }
}