.container {
  display: flex;
  justify-content: center;
}

.container h1 {
  text-align: center;
  color: #fff;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container ul li {
  padding: 10px;
  background-color: #f2f2f2;
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

.container ul li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.container ul li:last-child {
  border-bottom: none;
}
