.desktop-menu {
    list-style: none;
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: center;
}

.desktop-menu .menu-item {
    margin-right: 30px;
}

.desktop-menu .menu-item:last-child {
    margin-right: 0;
}

.desktop-menu .menu-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.desktop-menu .menu-item:hover {
    transform: scale(1.5);
    transition: transform 0.8s;
    color: #c4c4c4;
}

.desktop-menu .menu-item a:hover {
    color: #c4c4c4;
}

/*****************************************/

.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 1000;
}

.bar {
    width: 30px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    transition: 0.2s;
}

.menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
}

.menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-of-type(1) {
    display: none;
}

.menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgb(116, 116, 116);
    transform: translateX(100%);
    transition: transform 0.2s;
    z-index: 999;
}

.nav.active {
    transform: translateX(0);
}

.nav__list_item {
    list-style: none;
    margin-bottom: 15px;
    color: #333;
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
    border-right: 80px solid rgb(116, 116, 116);
}